.alert-msg {
  color: #a94442;
  font-size: 18px;
  line-height: 20px;
}

.form-horizontal {
  border: solid 1px grey;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.wide-btn {
  width: 100%;
}

.mini-form {
  max-width: 400px;
}

.control-label {
  text-align: right;
  padding-top: 7px;
}
